In [3]:
import pandas as pd
import matplotlib as plt

In [4]:
world = pd.read_csv('Data for python course/2018-2019+Happiness.csv')
airbnb = pd.read_csv('Data for python course/airbnb.csv')
salaries = pd.read_csv('Data for python course/salaries.csv')
sales = pd.read_csv('Data for python course/web_sales.csv')

In [4]:
world

,Overall rank,Year,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,2019,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,2019,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,2019,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,2019,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,2019,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298
...,...,...,...,...,...,...,...,...,...,...
307,152,2018,Yemen,3.355,0.442,1.073,0.343,0.244,0.083,0.064
308,153,2018,Tanzania,3.303,0.455,0.991,0.381,0.481,0.270,0.097
309,154,2018,South Sudan,3.254,0.337,0.608,0.177,0.112,0.224,0.106
310,155,2018,Central African Republic,3.083,0.024,0.000,0.010,0.305,0.218,0.038
311,156,2018,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076

In [5]:
salaries.columns

Index(['work_year', 'experience_level', 'employment_type', 'job_title',
       'salary', 'salary_currency', 'salary_in_usd', 'employee_residence',
       'remote_ratio', 'company_location', 'company_size'],
      dtype='object')

In [8]:
salaries['salary_in_usd'].max()

615201

In [9]:
salaries[['salary_currency']].min()

salary_currency    AUD
dtype: object

In [10]:
salaries['salary_currency'].min()

'AUD'

In [11]:
sales.columns

Index(['ProductKey', 'product', 'product_subcategory', 'OrderDateKey',
       'CalendarYear', 'SalesTerritoryRegion', 'SalesTerritoryCountry',
       'SalesOrderNumber', 'SalesAmount', 'TaxAmt', 'Freight'],
      dtype='object')

In [12]:
sales['TaxAmt'].sum()

2348694.2301

In [13]:
sales['TaxAmt'].min()

0.1832

In [14]:
sales['SalesAmount'].max()

3578.27